<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/sakshammtripathii/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/saksham-tripathi-7b25b0330" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-linkedin"></i>
            </a>
            <a href="https://github.com/Saksham-Xtreme" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-github"></i>
            </a>
            <a href="https://sakshamtripathi.vercel.app/" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-globe"></i>
            </a>
        </div>

        <div class="dev">
            &copy; Saksham Tripathi
        </div>

        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms & Conditions</a>
        </div>
    </div>
</footer>