<nav class="navbar navbar-expand-md bg-body-light sticky-top">

  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-house-user"></i> Basera
    </a>

    <!-- Mobile toggle -->
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- Left Side -->
      <div class="navbar-nav me-auto">

        <a class="nav-link" href="/listings">All Listings</a>

        <a class="nav-link" href="/listings/new">
          Add New Listing
        </a>

      </div>

      <!-- Right Side -->
      <div class="navbar-nav ms-auto">

        <% if(!currentUser){ %>

            <a class="nav-link" href="/signup">Sign Up</a>

            <a class="nav-link" href="/login">Login</a>

        <% } else { %>

            <a class="nav-link" href="/logout">Logout</a>

        <% } %>

      </div>

    </div>

  </div>

</nav>